body {
    background-image: url('D:\projects\images\background.jpg');
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    background-color: cornsilk;
}
